PORT=5000
NODE_ENV=development
JWT_SECRET=erp_crm_hrms_jwt_secret_2025

# HRMS Database (Employees, Payroll, Attendance, Leaves, Finance)
# If connecting to Docker HRMS container from host machine, use DB_PORT=5434
DB_USER=postgres
DB_HOST=localhost
DB_NAME=HRMS
DB_PASSWORD=postgres
DB_PORT=5432

# CRM Database (Leads, Customers, Opportunities, Sales, Inventory)
# If connecting to Docker CRM container from host machine, use CRM_DB_PORT=5435
CRM_DB_USER=postgres
CRM_DB_HOST=localhost
CRM_DB_NAME=crm
CRM_DB_PASSWORD=postgres
CRM_DB_PORT=5432


# SMTP Email Configuration
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
MAIL_FROM=
