PORT=5000
NODE_ENV=development

# HRMS Database (Friend 2 — HR, Employees, Payroll, Attendance)
DB_USER=postgres
DB_HOST=localhost
DB_NAME=HRMS
DB_PASSWORD=postgres
DB_PORT=5432

# CRM Database (Friend 1 — Leads, Customers, Opportunities, Sales)
CRM_DB_USER=postgres
CRM_DB_HOST=localhost
CRM_DB_NAME=crm
CRM_DB_PASSWORD=postgres
CRM_DB_PORT=5432

JWT_SECRET=your_jwt_secret_key_here
